<div class="container">
    <br>
    <aside class="col-md-3" id="columna">
        <blockquote>Consulta Online</blockquote>
        <hr width="200" color="black">
        <blockquote>Instituciones</blockquote>
    </aside>

    <div class="card  col-md-8  bg-light" style="height: 450px;">


        <img class="card-img-top publi"
            src="http://www.legaltoday.com/files/Image/gestion_despacho/justicia-libros.jpg">
        <div class="card-body">
            <b class="card-title"> POR LA CAIDA DE APORTES
            </b>
            <hr width="670px" color="black">
            <h6>Coronavirus en Argentina: el Gobierno realizará un salvataje a las obras sociales sindicales</h6>
            <p class="parra text-muted  " style=" color:black !important;">publicado 22-1-2020</p>

        </div>


    </div>

    <br>
    <div class="card col-md-8 bg-light" style="height: 450px;">


        <img class="card-img-top publi" src="http://www.legaltoday.com/files/Image/actualidad/banco-santander3.jpg">

        <div class="card-body">
            <b class="card-title">UN SISTEMA DESFINANCIADO
            </b>
            <hr width="670px" color="black">
            <h6>Coronavirus en Argentina: Antonio Caló y las clínicas privadas advierten que el sistema de salud está en
                crisis</h6>
            <p class="parra text-muted" style=" color:black !important;">publicado 22-1-2020</p>
        </div>

    </div>




</div>